body {
    background-color: grey;
}
img {
    border-radius: 25px;
}

#title {
    top: 10px;
    left: 50%;
    text-align: center;
    z-index: 200;
}

#submission {
    margin-top: 10px;
    margin-bottom: 10px;
}

.floating-div {
    position: fixed;
    top: 30%;
    left: 2%;
    max-width: 15%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 200;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
#overlay {
    pointer-events: none;
    z-index: 100;
    top: 0;
    left: 0;
    position: absolute;
}
.containerBox {
    position: relative;
    margin-inline: auto;
    max-width: fit-content;
}
.corner {
    width: 118px;
    height: 118px;
}
.bottom {
    width: 70px;
    height: 90px;
}
.side {
    width: 90px;
    height: 70px;
}
.jail {
    width: 80;
    height: 80;
}
#a1 {
    top: 778px;
    left: 778px;
    position: absolute;
}
#a2 {
    top: 805px;
    left: 705px;
    position: absolute;
}
#a3 {
    top: 805;
    left: 632;
    position: absolute;
}
#a4 {
    top: 805;
    left: 559;
    position: absolute;
}
#a5 {
    top: 805;
    left: 486;
    position: absolute;
}
#a6 {
    top: 805;
    left: 413;
    position: absolute;
}
#a7 {
    top: 805;
    left: 340;
    position: absolute;
}
#a8 {
    top: 805;
    left: 267;
    position: absolute;
}
#a9 {
    top: 805;
    left: 194;
    position: absolute;
}
#a10 {
    top: 805;
    left: 121;
    position: absolute;
}
#a11 {
    top:778;
    left: 0;
    clip-path: polygon(0 0, 30% 0, 30% 70%, 100% 70%, 100% 100%, 0 100%);
    position:absolute;
}
#a12 {
    top:705;
    left: 0;
    position:absolute;
}
#a13 {
    top:632;
    left: 0;
    position:absolute;
}
#a14 {
    top:559;
    left: 0;
    position:absolute;
}
#a15 {
    top:486;
    left: 0;
    position:absolute;
}
#a16 {
    top:413;
    left: 0;
    position:absolute;
}
#a17 {
    top:340;
    left: 0;
    position:absolute;
}
#a18 {
    top:267;
    left: 0;
    position:absolute;
}
#a19 {
    top:194;
    left: 0;
    position:absolute;
}
#a20 {
    top:121;
    left: 0;
    position:absolute;
}
#a21 {
    top: 0;
    left: 0;
    position:absolute;
}
#a22 {
    top: 0;
    left: 121;
    position:absolute;
}
#a23 {
    top: 0;
    left: 194;
    position:absolute;
}
#a24 {
    top: 0;
    left: 267;
    position:absolute;
}
#a25 {
    top: 0;
    left: 340;
    position:absolute;
}
#a26 {
    top: 0;
    left: 413;
    position:absolute;
}
#a27 {
    top: 0;
    left: 486;
    position:absolute;
}
#a28 {
    top: 0;
    left: 559;
    position:absolute;
}
#a29 {
    top: 0;
    left: 632;
    position:absolute;
}
#a30 {
    top: 0;
    left: 705;
    position:absolute;
}
#a31 {
    top: 0;
    left: 778;
    position:absolute;
}
#a32 {
    top: 121;
    left: 805;
    position:absolute;
}
#a33 {
    top: 194;
    left: 805;
    position:absolute;
}
#a34 {
    top: 267;
    left: 805;
    position:absolute;
}
#a35 {
    top: 340;
    left: 805;
    position:absolute;
}
#a36 {
    top: 413;
    left: 805;
    position:absolute;
}
#a37 {
    top: 486;
    left: 805;
    position:absolute;
}
#a38 {
    top: 559;
    left: 805;
    position:absolute;
}
#a39 {
    top: 632;
    left: 805;
    position:absolute;
}
#a40 {
    top: 705;
    left: 805;
    position:absolute;
}
#a41 {
    top:779;
    left: 36;
    position:absolute;
}