<html>
    <head>
        <title>Monopoly Sim</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/style.css')}}"/>
    </head>
    <body>
        <div class="image-container">
            <img src="{{url_for('static', filename='board.jpg')}}" id="board" />
            <div id="a0"></div>
            <div id="a1"></div>
            <div id="a2"></div>
            <div id="a3"></div>
            <div id="a4"></div>
            <div id="a5"></div>
            <div id="a6"></div>
            <div id="a7"></div>
            <div id="a8"></div>
            <div id="a9"></div>
            <div id="a10"></div>
            <div id="a11"></div>
            <div id="a12"></div>
            <div id="a13"></div>
            <div id="a14"></div>
            <div id="a15"></div>
            <div id="a16"></div>
            <div id="a17"></div>
            <div id="a18"></div>
            <div id="a19"></div>
            <div id="a20"></div>
            <div id="a21"></div>
            <div id="a22"></div>
            <div id="a23"></div>
            <div id="a24"></div>
            <div id="a25"></div>
            <div id="a26"></div>
            <div id="a27"></div>
            <div id="a28"></div>
            <div id="a29"></div>
            <div id="a31"></div>
            <div id="a32"></div>
            <div id="a33"></div>
            <div id="a34"></div>
            <div id="a35"></div>
            <div id="a36"></div>
            <div id="a37"></div>
            <div id="a38"></div>
            <div id="a39"></div>
            <div id="a40"></div>
        </div>
    </body>
</html>